<div class="wrapper">
    <div class="row" style="margin: 15% auto;text-align: center">
      <div class="col-lg-12">
        <div id="content">
              <div id="frontPage">
                <h1 id="title">Celavents</h1>
                <hr id="title-hr">
              </div>
              <button type="button" class="btn btn-light btn-lg">Getting Started</button>
            </div>
      </div>
    </div>
  </div>
  