<div class="container">
    <div class="row" style="text-align:center">
        <div class="col-md-12">
            <h1 class="newEventHeader">Create a New Event</h1>
            <% if(typeof errors != 'undefined'){ %>
                <% errors.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                <% }); %>
            <% } %>
            <% if(success_msg != ''){ %>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% } %>
    
            <% if(error_msg != ''){ %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% } %>
    
            <% if(error != ''){ %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% } %>
    
          
            <form action="/newEvent" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Event Name" name="eventName" required>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input class="form-check-input" type="radio" name="eventLength" value="multiDay" onclick="myFunction()" checked>Multi-Day Event
                    </label>
                    <label class="radio-inline">
                        <input class="form-check-input" type="radio" name="eventLength" value="singleDay" onclick="myFunction()">Single Day Event
                    </label>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="Date" placeholder="Start Date (MM/DD/YYYY)" name="startDate" id="startDate" required>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="Date" placeholder="End Date (MM/DD/YYYY)" name="endDate" id="endDate">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="string" placeholder="Venue Name" name="venueName" required>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="string" placeholder="City" name="venueCity" required>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="string" placeholder="state" name="venueState" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="number" placeholder="# of Guest" name="guestCount" id="guestCount" required>
                        </div>
                    
                        <div class="col-sm-6">
                            <label class="row-inline">
                                <input class="form-check-input" type="radio" name="eventSpaceLocation" value="outdoorLocation" checked>Outdoor Event
                            </label>
                            <br>
                            <label class="row-inline">
                                <input class="form-check-input" type="radio" name="eventSpaceLocation" value="indoorLocation" >Indoor Event
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Desired Vendor</label>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 hostBudget">
                            <label>Photography</label>
                        </div>
                        <div class="col-sm-2 hostBudget">
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="photographerCB" name="photographerCB" value="yes" checked/>
                                <span class="switch-label" data-on="Yes" data-off="No" ></span> 
                                <span class="switch-handle"></span> 
                            </label>
                        </div>
                        
                        <div class="col-sm-8 hostBudget">
                            <input class="form-control" type="number" placeholder="Budget" name="photographyBudget" id="photographyBudget">
                        </div>
                        <div class="col-sm-2">
                            <label>Videography</label>
                        </div>
                        <div class="col-sm-2 hostBudget">
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="videographerCB" name="videographerCB" value="yes" checked/>
                                <span class="switch-label" data-on="Yes" data-off="No" ></span> 
                                <span class="switch-handle"></span> 
                            </label>
                        </div>
                        <div class="col-sm-8 hostBudget">
                            <input class="form-control" type="number" placeholder="Budget" name="videographyBudget" id="videographyBudget">
                        </div>
                        <div class="col-sm-2 hostBudget">
                            <label>Entertainment</label>
                        </div>
                        <div class="col-sm-2 hostBudget">
                            <label class="switch">
                                <input class="switch-input" type="checkbox" id="entertainmentCB" name="entertainmentCB" value="Yes" checked/>
                                <span class="switch-label" data-on="Yes" data-off="No"></span> 
                                <span class="switch-handle"></span> 
                            </label>
                        </div>
                        <div class="col-sm-8 hostBudget">
                            <input class="form-control" type="number" placeholder="Budget" name="entertainmentBudget" id="entertainmentBudget">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="extraDetailForm">Other Event Specific Details</label>
                        <textarea class="form-control" name="extraDetailForm" id="extraDetailForm" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-light btn-med btn-block">Submit</button>
                </div>
                <div class="form-group">
                    <a class="btn btn-light btn-med btn-block" href="/dashboard">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>


function myFunction() {
  var endDate = document.getElementById("endDate");
  if (endDate.style.display === "none") {
    endDate.style.display = "block";
  } else {
    endDate.style.display = "none";
  }
}


$(document).ready(function(){
    var elem = $("#photographerCB");
    var elem = $("#videographerCB");
    var elem = $("#djCB");
    
    $("#photographerCB").click(function(){
      $( "#photographyBudget" ).slideToggle("fast");
    });
    $("#videographerCB").click(function(){
      $( "#videographyBudget" ).slideToggle("fast");
    });
    $("#entertainmentCB").click(function(){
      $( "#entertainmentBudget" ).slideToggle("fast");
    });
});
</script>