body {
  margin: 0px;
  padding: 0px;
}

#title {
   color: #FF7F15;
}

.homepage-container{
   margin-left: 20%;
   margin-right: 20%;
  
}

.navbar-inverse {
   background-color: #222;
   border-color: #080808;
   margin: 0px;
}

.wrapper {
   background-image: url(background.jpg);
   background-size: cover;
   background-repeat:no-repeat;
   background-position:center; 
   -moz-background-size: cover;
   -o-background-size: cover;
   -webkit-background-size: cover;
   -ms-content-zooming: none;
   position:absolute;
   width:100%;
   height:100%;
   color: white;
}

#title {
   font-size: 100px;
   text-transform: uppercase!important;
}

.navbar-inverse .navbar-brand {
   color: #FF7F15;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
   color: white;
   background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
   color: #FF7F15;
}


#title-hr {
   width: 300px;
   border-top: 3px solid #FF7F15;
}

.btn-light {
   color: #fff;
   background-color: #FF7F15;
   border-color: #FF7F15;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
	color: #fff;
	background-color: #1595FF;
	border-color: #1595FF; /*set the color you want here*/
 }


/* 
.btn-primary {
    color: #fff;
    background-color: #FF7F15;
   border-color: #FF7F15; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
   color: #fff;
   background-color: #1595FF;
   border-color: #1595FF; 
} 
*/

.newEventHeader{
   margin-top: 5%;
}

label {
   display: inline-block;
   margin-bottom: 0.5rem;
   margin-right: 5%;
   ALIGN-CONTENT: left;
}


.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #1595FF;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #FFFFFF;
	
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #FF7F15;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}



/* ------------ CHECKBOX ----------*/
/* The container */
.container-checkbox {
	display: inline;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }


#vendorServiceList{
	padding:10px 10px 10px 10px;
	margin:10px 10px 10px 10px;
}

.registerCheckbox{
	padding: 10px;
}

.hostBudget{
	padding-top: 2px;
}





.sk-package {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    max-height: 200px;
    background-color: white;
    box-shadow: 0 10px 24px -12px rgba(8, 12, 0, 0.25);
    padding: 0 20px 10px;
    transition: all 0.25s ease-in-out;
}

.sk-package__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;
}

.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #FF7F15;
}